Box2D==2.3.10
Brotli==1.0.9
Farama-Notifications==0.0.4
GitPython==3.1.43
Jinja2==3.1.3
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==2.1.3
MarkupSafe==2.1.5
PyOpenGL==3.1.7
PySocks==1.7.1
PyYAML==6.0.2
Pygments==2.18.0
Pygments==2.19.1
Send2Trash==1.8.2
Shimmy==2.0.0
Werkzeug==3.0.4
absl-py==2.1.0
ace_tools==0.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
anyio==4.7.0
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asttokens==2.4.1
asttokens==3.0.0
async-lru==2.0.4
attrs==24.2.0
attrs==24.3.0
babel==2.16.0
beautifulsoup4==4.12.3
beautifulsoup4==4.8.0
bleach==6.2.0
certifi==2024.7.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.3.2
clarabel==0.9.0
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.1
contourpy==1.2.0
contourpy==1.2.1
cvxpy==1.6.0
cycler==0.11.0
cycler==0.12.1
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
docker-pycreds==0.4.0
ecos==2.0.14
eppy==0.5.63
et-xmlfile==1.1.0
etils==1.11.0
executing==0.8.3
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.13.1
fonttools==4.51.0
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.2.0
future==1.0.0
gitdb==4.0.11
glfw==2.8.0
grpcio==1.65.5
gym-notices==0.0.8
gym==0.26.2
gymnasium==1.0.0
h11==0.14.0
httpcore==1.0.2
httpx==0.28.1
idna==3.7
imageio==2.36.1
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.28.0
ipython==9.1.0
ipython_pygments_lexers==1.1.1
jedi==0.19.1
jedi==0.19.2
joblib==1.4.2
json5==0.9.25
jsonschema-specifications==2023.12.1
jsonschema-specifications==2023.7.1
jsonschema==4.23.0
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kiwisolver==1.4.4
kiwisolver==1.4.5
lxml==5.3.0
matplotlib-inline==0.1.6
matplotlib-inline==0.1.7
matplotlib==3.9.2
mistune==3.1.2
mkl-service==2.4.0
mkl_fft==1.3.10
mkl_random==1.2.7
mpi4py==3.1.4
mpi4py==4.0.1
mpld3==0.5.9
mpmath==1.3.0
msgpack==1.1.0
mujoco==3.2.6
multidict==6.0.5
munch==4.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.3.2
notebook_shim==0.2.4
numpy==1.26.3
numpy==1.26.4
openpyxl==3.1.5
openstudio==3.9.0
osqp==0.6.7.post3
overrides==7.4.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.4
pettingzoo==1.24.3
pillow==10.2.0
pillow==10.4.0
pip==24.2
platformdirs==4.2.2
platformdirs==4.3.7
ply==3.11
prometheus_client==0.21.1
prompt-toolkit==3.0.43
prompt_toolkit==3.0.48
protobuf==5.27.3
psutil==5.9.0
psutil==6.0.0
pure-eval==0.2.2
pure_eval==0.2.3
pycparser==2.21
pydot3k==1.0.17
pygame==2.6.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-json-logger==3.2.1
pytz==2024.1
pywin32==308
pywinpty==2.0.15
pyzmq==26.2.0
qdldl==0.1.7.post4
ray==2.37.0
referencing==0.30.2
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.20.0
rpds-py==0.22.3
scikit-learn==1.5.1
scipy==1.14.1
scs==3.2.7
seaborn==0.13.2
sentry-sdk==2.13.0
setproctitle==1.3.3
setuptools==75.1.0
setuptools==78.1.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
soupsieve==2.6
stable_baselines3==2.4.0
stack-data==0.2.0
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tensorboard-data-server==0.7.2
tensorboard==2.17.1
tensorboardX==2.6.2.2
terminado==0.17.1
threadpoolctl==3.5.0
tinycss2==1.4.0
tinynumpy==1.2.1
torch==2.4.0+cu121
torch_geometric==2.5.3
torchaudio==2.4.0+cu121
torchsummary==1.5.1
torchvision==0.19.0+cu121
tornado==6.5
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
typing_extensions==4.9.0
tzdata==2024.1
unicodedata2==15.1.0
urllib3==2.2.2
urllib3==2.3.0
wandb==0.17.7
wcwidth==0.2.13
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.43.0
win-inet-pton==1.1.0
yarl==1.9.4
zipp==3.21.0